<div class="form-inline row">
  <label class="form-group">
    Enter new server name:
    <input
      type="text"
      class="form-control"
      [(ngModel)]="serverName"
    >
  </label>
</div>
<div class="row">
  <button
    class="btn btn-primary"
    [disabled]="!isServerCreationAllowed"
    (click)="onCreateServer()"
  >
    Add Server
  </button>
  <hr>
</div>

<div class="row">
  <app-server
    *ngFor="let server of servers"
    [id]="server.id"
    [name]="server.name"
    [status]="server.status"
  ></app-server>
</div>
